* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.space {
    background-image: url('img/space.png');
    background-repeat: round;
    display: flex;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    width: 70vw;
}

.planet-area {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 50%;
}

.planet {
    bottom: -4px;
    left: -4px;
    position: absolute;
    width: 500px;
    z-index: 2;
}

.rocket {
    bottom: 245px;
    left: 245px;
    position: absolute;
    transform: rotate(30deg);
    width: 200px;
    z-index: 1;
    animation-duration: 3s;
    animation-name: launching;
}

.control-panel {

    bottom: 220px;
    position: absolute;
    right: 100px;
    text-align: center;
    width: 50%;
    height: 32%;

    background-image: linear-gradient( 109.6deg,  rgba(245,56,56,1) 11.2%, rgba(234,192,117,1) 78% );

    background-size:16px 16px;
}

.control-panel div {
    margin: 0 auto;

}

.control-panel__inner{
    background-color: #111832;
    position: relative;
    width: 97%;
    height: 92%;
    top: 12px;
    bottom: 12px;
}
#password {
    margin: 10px 0;
    padding: 3px;
    width: 200px;
    border: 2px solid #d54b57;
    font-family: monospace;
}

#unlock,
#launch {
    margin: 10px 0;
    padding: 3px 5px;

}

.check-buttons,
.levers {
    display: flex;
    justify-content: space-between;
}

.check-buttons {
    padding: 15px 98px;
}

.levers {
    padding: 15px 100px;
}

.levers input {
    -webkit-appearance: slider-vertical; /* WebKit */
    height: 80px;
    padding: 0 5px;
    width: 8px;
    writing-mode: bt-lr; /* IE */
}

.btn{
    background: #d54b57;
    color: white;
    padding: 9px;
    border: 1px solid #fff;
}

.btn:hover{
    color: #d54b57;
    background: white;
    border: 1px solid #d54b57;
}

@keyframes launching {
    from{
        bottom: 245px;
        left:245px;
        position: absolute;
    }
    50%{
        top: 400px
    }
    to{
        top: 0;
        left: 300px;
    }
}
